@import "../../../static/styles/_variables";

.wrapper {
  position: absolute;
  width: 100%;
  height: calc(100vh - 4rem);
  background-image: url("../../../static/backgrounds/2.jpg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: $mediaQueryMinWidth) {
  .form-container {
    width: 400px;
  }
}
