@import "../../../static/styles/_variables";

.search {
  margin: 20px;
  display: flex;
  justify-content: center;
}

i {
  cursor: pointer;
  font-size: 2rem;
  transition: color 1s;
  &:hover {
    color: red;
  }
}

.display {
  transform: translateX(0);
}

.hide {
  transform: translateX(-200%);
}

.closer {
  display: block;
  width: 70%;
  margin: 10px auto 0 auto;

  span {
    background: rgba(128, 128, 128, 0.233);
    border-radius: 100%;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
  }
}

.search-container {
  width: 100%;
  position: absolute;
  top: $navbarHeight;
  left: 0;
  transition: all 0.3s;

  input {
    display: block;
    margin: 20px auto;
    border: none;
    border-bottom: 1px solid black;
    width: 70%;
  }
}

.category {
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .category-type {
    cursor: pointer;
    color: black;
    margin: auto 10px;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: red;
    }
  }
}

@media (min-width: $mediaQueryMinWidth) {
  .search-container {
    top: 7rem;
  }
}
