@import "../../../static/styles/_variables";

.search {
  font-family: "Marvel-bold";
  margin: 20px;
  display: flex;
  justify-content: center;
}

i {
  cursor: pointer;
  font-size: 2rem;
  transition: color 1s;
  &:hover {
    color: red;
  }
}

.display {
  transform: translateX(0);
}

.hide {
  transform: translateX(-200%);
}

.closer {
  color: black;
  display: block;
  width: 95%;
  margin: 10px auto 0 auto;
}

.search-container {
  margin: auto;
  padding: 10px;
  display: block;
  background-color: white;
  position: absolute;
  box-shadow: 3px 3px 3px black;
  border-radius: 20px;
  width: 95%;
  top: calc(#{$navbarHeight} + 10px);
  left: 0;
  right: 0;
  transition: all 0.3s;

  input {
    display: block;
    margin: 20px auto;
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
  }
}

.category {
  font-weight: bold;
  font-size: 1.3rem;
  margin: auto auto 20px auto;
  width: 80%;
  color: black;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  label {
    cursor: pointer;
    margin-right: 10px;
    transition: color 0.3s;

    &:hover {
      color: red;
    }
  }

  input {
    display: none;
  }

  .category-type {
    margin-right: 10px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: red;
    }
  }
}

.no-results {
  margin: auto;
  color: black;
  width: 90%;
  font-weight: bold;
  text-align: center;
}

@media (min-width: $mediaQueryMinWidth) {
  .search-container {
    width: 70%;
  }
}
