@font-face {
  font-family: "Marvel-Bold";
  src: url("/static/fonts/Marvel-Bold.ttf") format("truetype");
}

html {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body > div,
#__next,
#__next > div,
#__next > div > div {
  height: 100%;
}
