@font-face {
  font-family: "Marvel-Bold";
  src: url("/static/fonts/Marvel-Bold.ttf") format("truetype");
}

html {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}
