@import "../../../../static/styles/_variables";

.item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 4px;
  text-decoration: none;
  color: white;
  outline: none;

  transition: color 0.3s;

  &:hover {
    color: red;
  }
}

@media (min-width: $mediaQueryMinWidth) {
  .item {
    border: 1px solid $navbarBorder;

    &:hover {
      background: rgb(85, 85, 85);
    }

    &:before,
    &:after {
      transition: all 0.3s;
    }

    &:hover {
      &:before {
        transform: rotate(0deg);
        top: 0;
        left: -23px;
        opacity: 0;
      }
      &:after {
        transform: rotate(-90deg);
        right: -3px;
        bottom: -21px;
        opacity: 0;
      }
    }
  }

  .item:before {
    content: "";
    width: 20px;
    height: 20px;
    background: $navbarColor;
    border: 1px solid $navbarBorder;
    transform: rotate(45deg);
    position: absolute;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    top: -11px;
    left: -10px;
  }
  .item:after {
    content: "";
    width: 20px;
    height: 20px;
    background: $navbarColor;
    border: 1px solid $navbarBorder;
    transform: rotate(-132deg);
    position: absolute;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    top: auto;
    right: -10px;
    bottom: -11px;
  }
}
