.grid-container {
  display: grid;
  grid-template-columns: 1auto;
  grid-template-rows: 1auto 1auto;
  grid-template-areas: "title" "comments";
}

.title {
  grid-area: title;

  h2 {
    color: red;
    margin-bottom: 0;
  }

  hr {
    border: 1px solid red;
  }
}

.comments {
  grid-area: comments;
  max-height: 500px;
  overflow: auto;
}
