.grid-container {
  font-family: "Marvel-bold";
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

.header {
  * {
    outline: none;
  }
  font-size: 1.3rem;
  top: 0;
  z-index: 90;
  position: sticky;
  grid-area: header;
}

.main {
  width: 100%;
  grid-area: main;
}

.footer {
  grid-area: footer;
  z-index: 90;
}
